/* body{
    background-color: #011627;
    color: #F6F7F8;
    margin: 0
} */

/* ------------------------------   HOME PAGE ----------------------------- */


/* --------Gradient Background-------- */

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    background-color: #011627; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #011627, rgb(108, 75, 162));
    background-repeat: no-repeat;
    color: #F6F7F8;
    margin: 0;
}

/* --------banner--------- */
#bannerimage{
    width: 100%;
    background-image: url(images/keyboardbanner.jpg);
    height: 500px;
    background-color: purple;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 5px #F7B2AD;
}

.bannercontainer{
    position: relative;
    display: flex;
}

.bannertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    font-size: 5em;
    padding-top: 2em;
    color:#f7add8;
    text-shadow: rgb(0, 0, 0) 10px 0 10px;
    opacity: .8;
    padding: 10px; 
}
span{
    color: #f7add8
}
/* ----------navbar---------- */
ul {
    width: 100%;
    z-index: 100;
    position:fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A0C4E;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #8836c7;
  }

  /* -----------Body---------- */

.bodycontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.bodycontainer p1{
    display: flex;
    font-size: 2em;
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
}

.aboutme h1{
    text-align: center;
    font-size: 3.5em;
}

.imgcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.imgcontainer img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 5px #F7B2AD;
}


/* --------Skills---------  */

.skillcontainer{
    border: solid 5px #F7B2AD;
    border-radius: 20px;
    margin: 0 10em 0 10em;
    background:#2A0C4E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .6em;
    font-size: 10em;
    transform: scale(0.8)
}

.bodycontainer h3{
    font-size: 3em;
}

.devicon--replit {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23F26207' d='M11 8c0-2.122.845-4.157 2.35-5.657A8.037 8.037 0 0 1 19.026 0h37.45a8.04 8.04 0 0 1 5.675 2.343A7.987 7.987 0 0 1 64.5 8v34.667H19.025a8.037 8.037 0 0 1-5.674-2.343A7.987 7.987 0 0 1 11 34.666zm53.5 34.667h45.475a8.04 8.04 0 0 1 5.675 2.343a7.987 7.987 0 0 1 2.35 5.657v26.666a7.987 7.987 0 0 1-2.35 5.657a8.04 8.04 0 0 1-5.675 2.343H64.5zM11 93.333c0-2.121.845-4.156 2.35-5.656a8.037 8.037 0 0 1 5.675-2.344H64.5V120a7.987 7.987 0 0 1-2.35 5.657A8.039 8.039 0 0 1 56.475 128h-37.45a8.039 8.039 0 0 1-5.674-2.343A7.987 7.987 0 0 1 11 120z'/%3E%3C/svg%3E");
  } 



/* ------------------------------   CONTACT PAGE ----------------------------- */
header img{
    width: 100%;
    height: 500px;
    background-image: url(images/keyboardbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 5px #F7B2AD;
}

.contactcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.contactcontainer h1{
    text-align: center;
    font-size: 4em;
}

.contactcontainer h3{
    text-align: center;
    font-size: 2em;

}

.cardcontainer{
    background: #2A0C4E;
    border: 5px solid #F7B2AD;
    border-radius: 20px;
    padding: .5em;
    margin-bottom: 1em;

}

.social{
    font-size: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linkedin h2{
    font-size: 5em;
}

.linkedin img{
    width: 70%;
    height: 70%;
}
/* ----------Contact Field-----------  */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}



/* ------------------------------   PROJECTS PAGE ----------------------------- */



.projectcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.projectcontainer h1{
    text-align: center;
    font-size: 4em;
}

.projectcontainer img{
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: solid 5px #F7B2AD;
    margin-right: 2em;
}

.projecttext{
    font-size: 3em;
}

.project1{
    display: flex;
    flex-direction: column; /* Change this from row to column */
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.project1 p1{
    display: flex;
    font-size: 2em;
    text-align: center;
    padding-top: 2em;
    padding-left: 10em;
    padding-right: 10em;
}


/* ------------------------------   RESPONSIVENESS  600px----------------------------- */
/* -----------------NAVBAR RESPONSIVENESS --------------*/


@media only screen and (max-width: 600px) {
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: .8em;
      }

/* ----------------- HOME ---------------- */



    .bannercontainer img{
        height: 130px;
    }

    .bannertext{
        font-size: 2em;
    }

    .bodycontainer h1{
        font-size: 2em; 
    }

    .aboutme h1{
        font-size: 3em; 
    }


    .imgcontainer img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: solid 5px #F6F7F8;
        
    }
    .aboutme p1{
        font-size: 1em; 
        padding: 5px; 
    }


    .projectcontainer {
        flex-direction: column; 
        padding: 1em; 
    }

    .projectcontainer h1 {
        font-size: 2em; 
    }

    .skillcontainer{
        font-size: 2.5em;
        padding: .5em;
    }




/* ----------------- PROJECTS ---------------- */


.project1 img{
    width: 150px;
    height: 150px;
    margin-left: 8%;

}

.project1 p1{
    font-size: 1.1em;
    padding: 5px; 
}



/* -------------- CONTACT ------------------ */
.contactcontainer img{
    width: 70%;
    height: 100%;
}
.contactcontainer h1{
    font-size: 2em;
}
.linkedin h2{
    font-size: 1.6em
}


/* ----------------- FOOTER ---------------- */
.mainfooter{
    display: flex;
    background-color: #2A0C4E;
    font-size: 2em;
}
}

/* ------------------------------   RESPONSIVENESS  768px----------------------------- */
/* -----------------NAVBAR RESPONSIVENESS --------------*/
@media only screen and (max-width: 768px) {
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1em;
      }


/* ----------------- HOME ---------------- */
.bannercontainer img{
    height: 350px
    }

    .bannertext{
        font-size: 3.5em;
    }

    .bodycontainer p1{
        font-size: 2em;

        padding: 5px; 
    }

    .skillcontainer{
        font-size: 6em;
        padding: .5em;
    }





/* ----------------- PROJECTS -------------- */
.project1 img{
    width: 300px;
    height: 300px;
    margin-left: 8%;
}
.project1 p1{
    font-size: 2em;
    padding: 5px; 
}


}


/* ------------------------------   RESPONSIVENESS  1128----------------------------- */

@media only screen and (max-width: 1128px) {
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5em;
      }

/* ----------------- HOME ---------------- */
.bannercontainer img{
    height: 350px
    }

    .bannertext{
        font-size: 3.5em;
    }

    .bodycontainer p1{
        font-size: 2.6em;
        padding: 5px; 
    }

    .skillcontainer{
        font-size: 8em;
        padding: .5em;
    }




/* ---------------- PROJECTS ------------- */
.project1 img{
    width: 300px;
    height: 300px;
    margin-left: 8%;
}

.project1 p1{
    font-size: 2.5em;
    padding: 5px; 
}
}